.loader {
  border: 16px solid config('colors.white'); 
  border-top: 16px solid config('colors.green'); 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 40px auto;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}