{
  "extends": [
    "react-app",
    "airbnb-base"
  ],
  "rules": {
    "object-curly-newline" : "off",
    "consistent-return" : "off",
    "no-use-before-define" : "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "max-len" : "off",
    "no-console": "off",
    "no-case-declarations": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off"
  }
}